*{
    text-decoration: none
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(51, 51, 51, 0.5);
}

.modalContent {
    background-color: red;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name:modalopen;
    animation-duration: 1s;
}

.closeBtn {
    color: white;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, c.closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
}

body {
    margin: 0;
    font-family: 'Stylish', sans-serif;
    font-size: 18px;
    background-image: url("../images/background.jpg")
}

.container {
    width: 960px;
    margin: auto;
}

header {
    background: rgba(51, 51, 51, 0.9);
    border-bottom: 4px groove #900808;
}

.main-container {
    background: rgba(20, 20, 20, 0.9);
    width: 960px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    border: groove 5px #900808;
    border-radius: 8px;
}

.main-container::after {
    content: '';
    display: table;
    clear: both;
    position: relative
}

.text {
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #cecece
}

header::after {
    content: '';
    display: table;
    clear: both
}

h1 {
    font-family: 'Stylish', sans-serif;
	font-size: 26px;
	font-weight: bold;
	background-color: #131313;
	padding: 28px;
	margin: auto;
	text-align: center;
	color: rgb(245, 245, 245);
    left: 0
}

#name {
    float: left;
    background: #141414;
    margin: auto;
    }

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    height: 20px;
}

nav li:not(:last-of-type) {
    border-right: 2px groove #900808;
}

nav a {
    text-decoration: none;
    color: #e6e6e6;
}

nav a:hover {
    color: #000000;
}

content {
    background: #ffffff;
    width: 960px;
    margin: auto;
}

.me {
	width: 300px;
	height: 220px;
	padding: 9px 28px;
    float: left;
}
content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

content li {
    display: inline-block;
    margin-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    height: 20px;
}

content li:hover {
    opacity: 0.7;
}

.pic1 {
	width: 300px;
	height: 150px;
	margin-bottom: 10px;
    float: left;
}
.pic2 {
	width: 300px;
	height: 150px;
    margin-bottom: 11px;
}
.pic3 {
    width: 300px;
	height: 150px;
	margin-bottom: 10px;
	float: left;
}

.portLabel {
	color: #fff;
	background-color: rgba(32, 32, 32, 0.9);
	line-height: 40px;
	text-align: center;
	position: relative;
    bottom: 53px;
    text-decoration: none;
    clear: left
}

.main {
    font-family: 'Stylish', sans-serif;
	font-size: 26px;
	padding-top: 5px;
	padding-bottom: 15px;
	color: #f8f8f8;
    font-weight: bold;
    border-bottom: ridge 5px #900808;
    margin-left: 28px;
    margin-right: 28px;
}

.contact {
    font-family: 'Stylish', sans-serif;
	font-size: 18px;
	padding-top: 5px;
	color: #f8f8f8;
    font-weight: bold;
    margin-left: 28px;
    margin-right: 28px;
}

form {
    font-family: 'Stylish', sans-serif;
	margin-left: 25px;
	color: #777777;
	font-size: 18px;
    line-height: 20px;
    width: 100%;
}
#form-name {
    padding-left: 5px;
    height: 2em;
    width: 94%;
    margin-bottom: 7px;
    color: #777777
}
#email {
	padding-left: 5px; 
    height: 2em;
    margin-bottom: 7px;	
    width: 94%;
    color: #777777
}

#message {
    padding: 5px;
    width: 94%;
    height: 10em;
    margin-bottom: 7px;
    font-family: 'Stylish', sans-serif;
    color: #777777
}

#submit {
	color: #fff;
	width: 70px;
 	height: 30px;
 	background: #424242;
 	border: none;
 	margin-top: 5px;
 	border-radius: 2px;
 	font-size: 13px;
}

#submit:hover {
    background-color: rgb(155, 11, 11)
}

#submit:active {
    background-color: #666666;
    color: #000;
}

#footer {
	left: 0px;
	bottom: 0px;
	background: rgba(51, 51, 51, 0.9);
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px;
	color: #ffffff;
	margin-top: 30px;
    border-top: groove 4px #900808;
    position: fixed
}

@media screen and (max-width: 980px) {

	*{
		text-decoration: none
    }
    .code {
        margin: 0;
    }
	body {
		margin: 0;
        font-family: 'Stylish', sans-serif;
		font-size: 18px;
		background-image: url("../images/background.jpg")
	}
	
	.container {
		width: 100%;
		margin: auto;
	}
	
    header {
        background: rgba(51, 51, 51, 0.9);
        border-bottom: 4px groove #900808;
    }
    
	.main-container {
        background: rgba(20, 20, 20, 0.9);
		width: 60%;
		margin: auto;
		float: left;
		margin-left: 30px;
		margin-top: 20px;
		padding-bottom: 30px;
        border: groove 5px #900808;
        border-radius: 8px;
	}
	
	.main-container::after {
		content: '';
		display: table;
		clear: both;
		position: relative
	}
	
	.text {
		line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		color: #cecece
	}
	
	header::after {
		content: '';
		display: table;
		clear: both
	}
	
	h1 {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		font-weight: bold;
		background-color: #131313;
		padding: 28px;
		margin: auto;
		text-align: center;
		color: rgb(245, 245, 245);
		left: 0
	}
	
	#name {
		float: left;
		background: #141414;
		margin: auto;
		}
	
	nav {
		float: right;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none
	}
	
	nav li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	nav li:not(:last-of-type) {
		border-right: 2px groove #900808;
	}
	
	nav a {
		text-decoration: none;
		color: #e6e6e6;
	}
	
	nav a:hover {
		color: #000000;
	}
	
	content {
		background: #ffffff;
		width: 960px;
		margin: auto;
	}
	
	.me {
		width: 300px;
		height: 220px;
		padding: 9px 28px;
		float: left;
	}
	content ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	content li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	content li:hover {
		opacity: 0.7;
	}
	
	.pic1 {
		width: 180px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}
	.pic2 {
		width: 180px;
		height: 150px;
		margin-bottom: 11px;
	}
	.pic3 {
		width: 180px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}
    
	.portLabel {
		color: #fff;
		background-color: rgba(32, 32, 32, 0.9);
		line-height: 40px;
		text-align: center;
		position: relative;
		bottom: 53px;
		text-decoration: none;
		clear: left
	}
	
	.main {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		padding-top: 5px;
		padding-bottom: 15px;
		color: #f8f8f8;
		font-weight: bold;
		border-bottom: ridge 5px #900808;
		margin-left: 28px;
		margin-right: 28px;
    }
    
    .contact {
        font-family: 'Stylish', sans-serif;
        font-size: 18px;
        padding-top: 5px;
        color: #f8f8f8;
        font-weight: bold;
        margin-left: 28px;
        margin-right: 28px;
    }
	
	form {
        font-family: 'Stylish', sans-serif;
		color: #777777;
		font-size: 18px;
		line-height: 20px;
		width: 96%;
	}
	#form-name {
		padding-left: 5px;
		height: 2em;
		width: 94%;
		margin-bottom: 7px;
		color: #777777;
	}
	#email {
		padding-left: 5px; 
		height: 2em;
		margin-bottom: 7px;	
		width: 94%;
		color: #777777
	}
	
	#message {
		padding: 5px;
		width: 94%;
		height: 10em;
		margin-bottom: 7px;
        font-family: 'Stylish', sans-serif;
		color: #777777
	}
	
	#submit {
		color: #fff;
		width: 70px;
        height: 30px;
        background: #424242;
        border: none;
        margin-top: 5px;
        border-radius: 2px;
        font-size: 13px;
	}
	
	#submit:hover {
		background-color: rgb(155, 11, 11)
	}
	
	#submit:active {
		background-color: #666666;
		color: #000;
	}
	
	#footer {
		left: 0px;
		bottom: 0px;
		background: rgba(51, 51, 51, 0.9);
		width: 100%;
		font-size: 12px;
		text-align: center;
		padding: 10px 0px;
		color: #ffffff;
		margin-top: 30px;
		border-top: groove 4px #900808;
		position: fixed
	}
}

@media screen and (max-width: 768px) {

	*{
		text-decoration: none
	}
	body {
		margin: 0;
        font-family: 'Stylish', sans-serif;
		font-size: 18px;
		background-image: url("../images/background.png")
	}
	
	.container {
		width: 100%;
		margin: auto;
	}
	
	header {
        background: rgba(51, 51, 51, 0.9);
        border-bottom: 4px groove #900808;
	}
	    
	.main-container {
		background: rgba(20, 20, 20, 0.9);
		width: 90%;
		margin: 10px;
		padding: 10px 0 50px 10px;
        border: groove 5px #900808;
        border-radius: 8px;
	}
	
	.main-container::after {
		content: '';
		display: table;
		clear: both;
		position: relative
	}
	
	.text {
		line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		color: #cecece
	}
	
	header::after {
		content: '';
		display: table;
		clear: both
	}

	h1 {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		font-weight: bold;
		background-color: #131313;
		padding: 28px;
		margin: auto;
		text-align: center;
		color: rgb(245, 245, 245);
		left: 0
	}
	
	#name {
		float: left;
		background: #141414;
		margin: auto;
		}
	
	nav {
		float: right;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none
	}
	
	nav li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	nav li:not(:last-of-type) {
		border-right: 2px groove #900808;
	}

	nav a {
		text-decoration: none;
		color: #e6e6e6;
	}
	
	nav a:hover {
		color: #000000;
	}
	
	content {
		background: #ffffff;
		width: 960px;
		margin: auto;
	}
	
	.me {
		width: 300px;
		height: 220px;
		padding: 9px 28px;
		float: left;
	}
	content ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	content li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	content li:hover {
		opacity: 0.7;
	}
	
	.pic1 {
		width: 200px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}
	.pic2 {
		width: 200px;
		height: 150px;
		margin-bottom: 11px;
	}
	.pic3 {
		width: 200px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}

	.portLabel {
		color: #fff;
		background-color: rgba(32, 32, 32, 0.9);
		line-height: 40px;
		text-align: center;
		position: relative;
		bottom: 53px;
		text-decoration: none;
		clear: left
    }
    
    .contact {
        font-family: 'Stylish', sans-serif;
        font-size: 18px;
        padding-top: 5px;
        color: #f8f8f8;
        font-weight: bold;
        margin-left: 28px;
        margin-right: 28px;
    }

	.main {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		padding-top: 5px;
		padding-bottom: 15px;
		color: #f8f8f8;
		font-weight: bold;
		border-bottom: ridge 5px #900808;
		margin-left: 28px;
		margin-right: 28px;
	}
	
	form {
        font-family: 'Stylish', sans-serif;
		color: #777777;
		font-size: 18px;
		line-height: 20px;
		width: 96%;
	}
	#form-name {
		padding-left: 5px;
		height: 2em;
		width: 94%;
		margin-bottom: 7px;
		color: #777777;
	}
	#email {
		padding-left: 5px; 
		height: 2em;
		margin-bottom: 7px;	
		width: 94%;
		color: #777777
	}
	
	#message {
		padding: 5px;
		width: 94%;
		height: 10em;
		margin-bottom: 7px;
        font-family: 'Stylish', sans-serif;
		color: #777777
	}

	#submit {
		color: #fff;
		width: 70px;
		 height: 30px;
		 background: #424242;
		 border: none;
		 margin-top: 5px;
		 border-radius: 2px;
		 font-size: 13px;
	}
	
	#submit:hover {
		background-color: rgb(155, 11, 11)
	}
	
	#submit:active {
		background-color: #666666;
		color: #000;
	}
	
	#footer {
		left: 0px;
		bottom: 0px;
		background: rgba(51, 51, 51, 0.9);
		width: 100%;
		font-size: 12px;
		text-align: center;
		padding: 10px 0px;
		color: #ffffff;
		margin-top: 30px;
		border-top: groove 4px #900808;
		position: fixed
	}
	
}
@media screen and (max-width: 640px) {

	*{
		text-decoration: none
	}
	body {
		margin: 0;
        font-family: 'Stylish', sans-serif;
		font-size: 18px;
		background-image: url("../images/background.jpg")
	}
	
	.container {
		width: 100%;
		margin: auto;
	}
	
	header {
        background: rgba(51, 51, 51, 0.9);
        border-bottom: 4px groove #900808;
	}

	.main-container {
		background: rgba(20, 20, 20, 0.9);
		width: 90%;
		margin: 10px;
		padding: 10px 0 50px 10px;
		border: groove 5px #900808;
        border-radius: 8px;
	}
	
	.main-container::after {
		content: '';
		display: table;
		clear: both;
		position: relative
	}
	
	.text {
		line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		color: #cecece
	}
	
	header::after {
		content: '';
		display: table;
		clear: both
	}

	h1 {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		width: 100%;
		font-weight: bold;
		background-color: #131313;
		padding: 28px;
		margin: auto;
		text-align: center;
		color: rgb(245, 245, 245);
	}
	
	#name {
		float: left;
		background: #141414;
		margin: auto;
		}
	
	nav {
		float: none;
		margin: auto;
		padding-bottom: 10px;
		width: 100%
	}
	
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		text-align:center
	}
	
	nav li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	nav li:not(:last-of-type) {
		border-right: 2px groove #900808;
	}
	
	nav a {
		text-decoration: none;
		color: #e6e6e6;
	}
	
	nav a:hover {
		color: #000000;
	}
	
	content {
		background: #ffffff;
		width: 960px;
		margin: auto;
	}
	
	.me {
		width: 88%;
		height: 260px;
		padding: 9px 28px;
		float: left;
	}
	content ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	content li {
		display: inline-block;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		height: 20px;
	}
	
	content li:hover {
		opacity: 0.7;
	}
	
	.pic1 {
		width: 250px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}
	.pic2 {
		width: 250px;
		height: 150px;
		margin-bottom: 11px;
	}
	.pic3 {
		width: 250px;
		height: 150px;
		margin-bottom: 10px;
		float: left;
	}

	.portLabel {
		color: #fff;
		background-color: rgba(32, 32, 32, 0.9);
		line-height: 40px;
		text-align: center;
		position: relative;
		bottom: 53px;
		text-decoration: none;
		clear: left
	}

	.main {
        font-family: 'Stylish', sans-serif;
		font-size: 26px;
		padding-top: 5px;
		padding-bottom: 15px;
		color: #f8f8f8;
		font-weight: bold;
		border-bottom: ridge 5px #900808;
		margin-left: 28px;
		margin-right: 28px;
    }
    
    .contact {
        font-family: 'Stylish', sans-serif;
        font-size: 18px;
        padding-top: 5px;
        color: #f8f8f8;
        font-weight: bold;
        margin-left: 28px;
        margin-right: 28px;
    }
	
	form {
        font-family: 'Stylish', sans-serif;
		color: #777777;
		font-size: 18px;
		line-height: 20px;
		width: 96%;
	}
	#form-name {
		padding-left: 5px;
		height: 2em;
		width: 94%;
		margin-bottom: 7px;
		color: #777777;
	}
	#email {
		padding-left: 5px; 
		height: 2em;
		margin-bottom: 7px;	
		width: 94%;
		color: #777777
	}
	
	#message {
		padding: 5px;
		width: 94%;
		height: 10em;
		margin-bottom: 7px;
        font-family: 'Stylish', sans-serif;
		color: #777777
	}
	
	#submit {
		color: #fff;
		width: 70px;
		 height: 30px;
		 background: #424242;
		 border: none;
		 margin-top: 5px;
		 border-radius: 2px;
		 font-size: 13px;
	}
	
	#submit:hover {
		background-color: rgb(155, 11, 11)
	}
	
	#submit:active {
		background-color: #666666;
		color: #000;
	}
	
	#footer {
		left: 0px;
		bottom: 0px;
		background: rgba(51, 51, 51, 0.9);
		width: 100%;
		font-size: 12px;
		text-align: center;
		padding: 10px 0px;
		color: #ffffff;
		margin-top: 30px;
		border-top: groove 4px #900808;
		position: fixed
	}
}
